<h1> Welcome to design pop</h1>
<p>This is where you can get web design inspiration, swipe through save what you like</p>	


	<li><%= link_to "Next", website_path(@sitelikes, website_id: @x, user_id: @nowuser ) %></li>
</br></br>



<!-- app/views/pages/home.html.erb -->

<% unless current_user %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>

<% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %>
<%else%>
	<%= render "devise/sessions/form" %>
<%end%>